// Imports

// Variables

// General
body {
    background-image: url(../images/background.png);
}

.code {
    font-family: monospace;
    background-color: #f5f5dc;
    color: #444444;
    padding: 1em;
}

.profile {
    float: right;
    margin: 0 16px;
}

.construction {
    float: left;
    margin: 0 10px 0 0;
}

.table-align {
    vertical-align: top;
}
