// Imports

// Variables

// General
body {
    background-image: url(../images/background.png);
}

.project-list {
    margin: 0;
    padding: 0;
}

.project-list-description {
    margin-top: .5em;
    margin-bottom: 1.5em;
}

.table-align {
    vertical-align: top;
}
