// Imports

// Variables

// General
body {
    background-image: url(../images/background.png);
}

.code {
    font-family: monospace;
    background-color: #f5f5dc;
    color: #444444;
    padding: 1em;
}

.project-list {
    margin: 0;
    padding: 0;
}

.project-list-description {
    margin-top: .5em;
    margin-bottom: 1.5em;
}

.table-align {
    vertical-align: top;
}
