// Imports

// Variables

// General
.project-list {}

.project-list h2 {
    padding: 0;
    margin: 0;
}

.project-list p {
    padding: 0;
    margin: 0;
}

.project-list-title {}

.project-list-date {}

.project-list-description {
    margin-top: .5em;
}
